<div>
    <h1>{{title}}</h1>
    <hr/>

    <h1>Agregar productos</h1>
    <br>

<div style="padding-left: 10px;">
    <form id="addForm" action="">
        <label for="title" style="padding: 10px;">Nombre del prodcuto</label>
        <input type="text" name="title" id="title" required>
        <br>
        <label for="description" style="padding: 10px;">Descripción del prodcuto</label>
        <input type="text" name="description" id="description" required>
        <br>
        <label for="code" style="padding: 10px;">Código del prodcuto</label>
        <input type="text" name="code" id="code" required>
        <br>
        <label for="price" style="padding: 10px;">Precio del prodcuto</label>
        <input type="text" name="price" id="price" required>
        <br>
        <label for="stock" style="padding: 10px;">Stock del prodcuto</label>
        <input type="text" name="stock" id="stock" required>
        <br>
        <label for="category" style="padding: 10px;">Categoria del prodcuto</label>
        <input type="text" name="category" id="category" required>
        <br>
        <label for="thumbnail" style="padding: 10px;">Foto del prodcuto</label>
        <input type="text" name="thumbnail" id="thumbnail" required>
        <br>
        <button type="submit" style="border-color: white; border-radius: 5px;">Ingresar Producto</button>
    </form>
</div>

<hr/>

<div>
    <h1>Products</h1>
    <table class = "table" id="table">
        <th>
            <tr class="table-primary">
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Code</th>
                <th>Price</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Delete</th>
            </tr>
        </th>
        <tbody id="productos"></tbody>
    </table>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script>
    //const table = document.getElementById('productsTable')
    const socket = io.connect();

    socket.emit('message', `Nuevo cliente conectado.`);

    const formulario = document.getElementById('addForm');

    formulario.addEventListener('submit', function (event){
        event.preventDefault();

        const title = document.getElementById("title").value;
        const description = document.getElementById("description").value;
        const code = document.getElementById("code").value;
        const price =document.getElementById("price").value;
        const stock = document.getElementById("stock").value;
        const category = document.getElementById("category").value;
        const thumbnail =document.getElementById("thumbnail").value;

        const product = {
            title: title,
            description: description,
            code: code,
            price: +price,
            status: true,
            stock: +stock,
            category: category,
            thumbnail: thumbnail
        }

        socket.emit('addProduct', product);

    })

    

    socket.on('products',data=>{
        renderProductos(data);
    })

    function renderProductos(data){
    const html = data.map((product)=>{
        return `<tr id = "productsTable" class="table-primary">
                    <td id="id">${product.id}</td>
                    <td id="title">${product.title}</td>
                    <td id="description">${product.description}</td>
                    <td id="code">${product.code}</td>
                    <td id="price">${product.price}</td>
                    <td id="status">${product.status}</td>
                    <td id="stock">${product.stock}</td>
                    <td id="category">${product.category}</td>
                    <td id="thumbnail">${product.thumbnail}</td>
                    <td><button id="btn" type="button" style="border-color: white; border-radius: 5px;" class="deleteProduct">Delete</button></td>
                </tr>`

    }).join(" ");
    document.getElementById('productos').innerHTML = html;

    const tabla = document.getElementById('table');

    tabla.addEventListener("click",deleteProduct);


    function deleteProduct(e){
        if(e.target.matches(".deleteProduct")){
            let padre = e.target.parentNode.parentNode;
            let idProduct = padre.childNodes[1].innerHTML;
            socket.emit('deleteProduct', +idProduct);
        }
    }


}

</script>