<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p style="color: blue">Bienvenido, {{userName}}</p>
        <br>
        <br>
        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>